<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Login box.scss -->
<!-- ============================================================== -->
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark"
  style="height: calc(100vh);">
  <div class="auth-box bg-dark border-top border-secondary">
    <div id="loginform">
      <div class="text-center pt-3 pb-3">
        <span class="db"><img src="/images/logo.png" alt="logo" /></span>
      </div>
      <!-- Form -->
      <form class="form-horizontal mt-3" id="loginform" action="/admin/checkLogin" method="post">
        <div class="row pb-4">
          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-success text-white h-100" id="basic-addon1"><i
                    class="mdi mdi-account fs-4"></i></span>
              </div>
              <input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username"
                name="username" aria-describedby="basic-addon1" required="" />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-warning text-white h-100" id="basic-addon2"><i
                    class="mdi mdi-lock fs-4"></i></span>
              </div>
              <input type="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password"
                name="password" aria-describedby="basic-addon1" required="" />
            </div>
          </div>
        </div>
        <div class="row border-top border-secondary">
          <div class="col-12">
            <div class="form-group">
              <div class="pt-3">
                <button class="btn btn-info" id="to-recover" type="button">
                  <i class="mdi mdi-lock fs-4 me-1"></i> Lost password?
                </button>
                <button class="btn btn-success float-end text-white" type="submit">
                  Login
                </button>
              </div>
              <a href="/admin/register" class="pt-3 text-end text-white d-inline-block float-end">Not registered?
                Register</a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="recoverform" style="display: none;">
      <div class="text-center mt-4">
        <span class="text-white">Enter your e-mail address</span>
      </div>
      <div class="row m-t-20">
        <!-- Form -->
        <form class="col-12" method="post" action="/admin/recoverPassword">
          <!-- email -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white h-100" id="basic-addon1">
                <i class="ti-email"></i>
              </span>
            </div>
            <input type="email" name="email" class="form-control form-control-lg" placeholder="Email Address"
              aria-label="email" aria-describedby="basic-addon1">
          </div>
          <!-- pwd -->
          <div class="row m-t-20 p-t-20 border-top border-secondary">
            <div class="col-12 d-flex justify-content-between">
              <a class="btn btn-success" href="#" id="to-login" name="action">Back To Login</a>
              <a class="btn btn-success" href="#" id="to-login" name="recoverPass">Recover</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- Login box.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper scss in scafholding.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper scss in scafholding.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right Sidebar -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right Sidebar -->
<!-- ============================================================== -->
</div>

<script src="/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/dist/js/custom.min.js"></script>
<!--This page JavaScript -->
<!-- <script src="/dist/js/pages/admins/admin1.js"></script> -->
<!-- Charts js Files -->
<script src="/libs/flot/excanvas.js"></script>
<script src="/libs/flot/jquery.flot.js"></script>
<script src="/libs/flot/jquery.flot.pie.js"></script>
<script src="/libs/flot/jquery.flot.time.js"></script>
<script src="/libs/flot/jquery.flot.stack.js"></script>
<script src="/libs/flot/jquery.flot.crosshair.js"></script>
<script src="/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="/dist/js/pages/chart/chart-page-init.js"></script>
<script>
  // ==============================================================
  // Login and Recover Password
  // ==============================================================
  $("#to-recover").on("click", function () {
    $("#loginform").slideUp();
    $("#recoverform").slideDown();
  });
  $("#to-login").click(function () {
    $("#recoverform").slideUp();
    $("#loginform").slideDown();
  });
</script>